@import "sanitize"
@import "helpers"

.container
  margin: 0 auto
  width: 1300px

$color-black-soft = rgb(14, 14, 14)
$color-white-soft = rgb(253, 253, 253)
$color-blue = #041269

$font-regular = 'Univers-Light', 'Helvetica Neue', helvetica, arial, sans-serif;
$font-oblique = 'Univers-Light-Oblique', 'Helvetica Neue', helvetica, arial, sans-serif;
$font-bold = 'Univers-Roman', 'Helvetica Neue', helvetica, arial, sans-serif;
$font-bold-oblique = 'Univers-Oblique', 'Helvetica Neue', helvetica, arial, sans-serif;

body
  font-size: 15px
  line-height: 1.35em
  letter-spacing: 0.001em
  font-weight: 300
  font-style: normal
  font-family: $font-regular

h1
  font-size: 1.5em
  margin-bottom: 1em
  font-weight: 300
  font-style: normal
  font-family: $font-regular
  
p
  width: 50%
  margin-bottom: 1em
  font-weight: 300
  font-style: normal
  font-family: $font-regular
  
em
  font-style: italic
  font-weight: 300
  font-family: $font-oblique
  
strong
  font-weight: 400
  font-style: normal
  font-family: $font-bold
  
strong em, em strong
  font-weight: 400
  font-style: italic
  font-family: $font-bold-oblique

a, a:active, a:visited
  color:grey
  text-decoration: underline

html
  background-color: $color-white-soft
  color: $color-blue

img
  max-width: 100%
  height: auto
  display: block
  margin-bottom: 1em

#header
  padding: 2em 0 2em 0 
  
#main-content 
  padding-bottom: 2em
  
iframe
  width: 1000px
  height: 562.5px 
  margin-bottom: 1em


// MEDIA QUERIES

@media screen and (max-width: 1300px)
  .container
    width: 1000px

@media screen and (max-width: 1000px)
  .container
    width: 800px
  p
    width: 75% 
  iframe
    width: 100%
    height: 450px
    
@media screen and (max-width: 800px)
  .container
    width: 600px
  iframe
    height: 337.5px
    
@media screen and (max-width: 600px)
  .container
    width: 500px
  p
    width: 100%
  iframe
    height: 281.25px
    
@media screen and (max-width: 500px)
  .container
    width: 400px
  iframe
    height: 225px
    
@media screen and (max-width: 400px)
  .container
    width: 300px
  iframe
    height: 168.75px
    
@media screen and (max-width: 300px)
  .container
    width: 280px
  iframe
    height: 157.5px
    

